# Dependencias
node_modules/
nano-store/node_modules/

# Variables de entorno (NUNCA subir credenciales)
.env
nano-store/.env
*.env

# Build
dist/
nano-store/dist/

# Angular
.angular/
.sass-cache/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
